@tailwind base;
@tailwind components;
@tailwind utilities;

/* Eliminar bordes blancos alrededor de la página */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
